<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find baby_control)/config/baby_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/baby" args="joint_state_controller
 Right_hand_controller  Right_jointt1_position_controller Right_jointt2_position_controller Right_joint11_position_controller Right_joint12_position_controller Right_joint21_position_controller Right_joint22_position_controller Right_joint31_position_controller Right_joint32_position_controller Right_joint41_position_controller Right_joint42_position_controller Left_jointt1_position_controller Left_jointt2_position_controller Left_joint11_position_controller Left_joint12_position_controller Left_joint21_position_controller Left_joint22_position_controller Left_joint31_position_controller Left_joint32_position_controller Left_joint41_position_controller Left_joint42_position_controller  
"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/baby/joint_states" />
  </node>

</launch>
