<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find servo_control)/config/servo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/servo" args="joint_state_controller
					  joint11_position_controller joint12_position_controller joint21_position_controller joint22_position_controller joint31_position_controller joint32_position_controller
            joint41_position_controller joint42_position_controller jointt1_position_controller jointt2_position_controller Right_hinge_position_controller Right_palm_x_position_controller Right_palm_y_position_controller Right_palm_z_position_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/servo/joint_states" />
  </node>

</launch>
